{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon.ico' %}">
    {% block meta %}
        <script src=" https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js "></script>
    {% endblock meta %}
    <title>
        {% block title %}
            Offline capable notes
        {% endblock title %}
    </title>
    <!-- Stylesheets -->
    {% block stylesheets %}
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <!-- Additional default CSS files can be added here -->
    {% endblock stylesheets %}
    {% block extracss %}
        <!-- Extra CSS specific to a page can be added here -->
    {% endblock extracss %}
    <!-- Extra Head Content -->
    {% block extrahead %}
        <!-- Additional head content (e.g., scripts, meta tags) -->
    {% endblock extrahead %}
</head>
<body>
<!-- Header -->
{% block header %}
    <!-- Optional header content -->
{% endblock header %}
<!-- Navigation Bar -->
{% block navbar %}
    <!-- Default navbar content -->
{% endblock navbar %}
<!-- Main Content -->
<main>
    {% block content %}
        <!-- Page-specific content goes here -->
    {% endblock content %}
</main>
<!-- Footer -->
{% block footer %}
    <!-- Optional footer content -->
{% endblock footer %}
<!-- Scripts -->
{% block scripts %}
    <script>
        jQuery(document).ready(function () {
            function updateMobileLayout() {
                const winWidth = jQuery(window).width();
                console.log("dfsdsfdf");
                if (winWidth < 768) {
                    jQuery(".notes-sidebar").addClass("notes-sidebar--mobile");
                    jQuery(".main-container-wrapper").addClass("main-container-wrapper--mobile");
                    jQuery(".main-navbar").addClass("main-navbar--mobile");
                    jQuery(".notes-directory").addClass("notes-directory--mobile");
                    jQuery(".notes-layout").addClass("notes-layout--mobile");
                    jQuery("#notes-display-desktop").hide();
                    jQuery("#notes-display-mobile-icon").show();
                } else {
                    jQuery(".notes-sidebar").removeClass("notes-sidebar--mobile");
                    jQuery(".main-container-wrapper").removeClass("main-container-wrapper--mobile");
                    jQuery(".main-navbar").removeClass("main-navbar--mobile");
                    jQuery(".notes-directory").removeClass("notes-directory--mobile");
                    jQuery(".notes-layout").removeClass("notes-layout--mobile");
                    jQuery("#notes-display-desktop").show();
                    jQuery("#notes-display-mobile-icon").hide();

                }
            }

            updateMobileLayout();

            jQuery(window).on("resize orientationchange", function () {
                updateMobileLayout();
            });

        });
    </script>
{% endblock scripts %}
{% block extrajs %}
    <!-- Extra JavaScript specific to a page can be added here -->
{% endblock extrajs %}
</body>
</html>