{% extends "base.html" %}
{% load static %}

{% block title %}
        Copier App Template
{% endblock title %}

{% block content %}
    <div class="main-container-wrapper">
        <aside class="main-navbar">
            <a href="{% url 'notes:note_list' %}">

                <div
                        class="main-navbar__icon-wrapper
          {% if request.resolver_match and request.resolver_match.url_name == 'note_list' %}main-navbar__icon-wrapper--selected{% endif %}">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="main-navbar__icon
              {% if request.resolver_match and request.resolver_match.url_name == 'note_list' %}main-navbar__icon--selected{% endif %}"
                            height="24px" width="24px" viewBox="0 -960 960 960">
                        <path d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/>
                    </svg>
                </div>
            </a>

            <a href="{% url 'notes:directory_list' %}">
                <div
                        class="main-navbar__icon-wrapper
          {% if request.resolver_match and request.resolver_match.url_name == 'directory_list' %}main-navbar__icon-wrapper--selected{% endif %}">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="main-navbar__icon
              {% if request.resolver_match and request.resolver_match.url_name == 'directory_list' %}main-navbar__icon--selected{% endif %}"
                            height="24px" width="24px" viewBox="0 -960 960 960">
                        <path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"/>
                    </svg>
                </div>
            </a>

        </aside>

        {% block layout %}
        {% endblock layout %}

    </div>
{% endblock content %}
