{% extends "base_layout.html" %}
{% load static %}

{% block title %}
    Add New Note
{% endblock title %}

{% block page_specific_content %}
    <div up-main class="bg-background p-6 md:min-w-150" data-popover-main-content>
        <h2>Add a New Note</h2>

        <form  action method="POST" class="space-y-4" up-layer="swap">
            {% csrf_token %}

            {% if form.non_field_errors or form.errors %}
                <div class="bg-negative p-3 border-l-4 border-negative-darker text-negative-darker mb-4">
                    <ul class="list-none">
                        {% for error in form.non_field_errors %}
                            <li class="py-1">{{ error }}</li>
                        {% endfor %}
                        {% for field, errors in form.errors.items %}
                            {% if field != "__all__" %}
                                {% for error in errors %}
                                    <li class="py-1">{{ error }}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <!-- Title Field -->
            <div class="space-y-2">
                <label for="{{ form.title.id_for_label }}" class="font-semibold">Title</label>
                {{ form.title }}
            </div>

            <!-- Type Field -->
            <div class="space-y-2">
                <label for="{{ form.type.id_for_label }}" class="font-semibold">Type</label>
                {{ form.type }}
            </div>

            <!-- Directory Field -->
            <div class="space-y-2">
                <label for="{{ form.directory.id_for_label }}" class="font-semibold">Directory</label>
                {{ form.directory }}
            </div>

            <!-- Submit Button -->
            <button type="submit" class="button mt-6">
                Save New Note
            </button>
        </form>
    </div>
{% endblock page_specific_content %}
