{% extends "base_layout.html" %}
{% load static %}

{% block title %}
    View Note's Datails
{% endblock title %}
{% block layout %}
    <!-- Main Directory Container -->
    <div class="notes-directory">
        <note-display class="grow flex"
                        ajaxNoteEndpoint= '{% url 'notes_api:note_detail' id=selected_note_compatible_id %}'
                        selectednoteid='{% firstof selected_note_compatible_id null %}'
                        initialselectednotetitle='{{ selected_note.title }}'
                        initialselectednotecontent='{{ selected_note.content }}'
                        csrftoken="{{ csrf_token }}"></note-display>
    </div>
{% endblock layout %}
