{% extends "base.html" %}

{% block content %}
    <div class="notes-layout flex">

        <div class="notes-display grow">
            <div class="notes-display__header">
                <h3>local~note</h3>
            </div>
            <div class="notes-display__content flex flex-col">
                <label for="noteContent"></label>
                <textarea id="noteContent"
                          class="notes-display__textarea flex-1 resize-none"
                          oninput="debounceSave()"></textarea>
            </div>
        </div>

        <div class="flex flex-col p-2 sm:p-4 gap-4 bg-background">
            <h2 class="self-center">Login</h2>
            <form method="post" class="flex flex-col gap-3 items-center">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button sidebar-button" type="submit">Login</button>
            </form>
        </div>

    </div>
    <script>
        let debounceTimer = null;

        document.addEventListener("DOMContentLoaded", function () {
            loadDefaultNote();
        });

        function loadDefaultNote() {
            document.getElementById("noteContent").value = localStorage.getItem("localNote");
        }

        document.addEventListener("visibilitychange", function () {
            if (!document.hidden) {
                location.reload();
            }
        });

        function debounceSave() {
            if (debounceTimer) clearTimeout(debounceTimer);
            debounceTimer = setTimeout(saveNoteContent, 1000);
        }

        function saveNoteContent() {
            const content = document.getElementById("noteContent").value;
            localStorage.setItem("localNote", content);
        }

        let inactivityTimeout;

        function resetInactivityTimer() {
            clearTimeout(inactivityTimeout);
            inactivityTimeout = setTimeout(() => {
                location.reload();
            }, 60000);
        }

        ["mousemove", "keydown", "scroll", "click", "touchstart"].forEach(event => {
            document.addEventListener(event, resetInactivityTimer);
        });

        resetInactivityTimer();
    </script>
{% endblock %}
