{% extends "base.html" %}

{% block content %}
    <div class="notes-layout">

        <div class="notes-display grow">
            <div class="notes-display__header">
                <h3>local~note</h3>
            </div>
            <div class="notes-display__content" style="display: flex; flex-direction: column;">
                <label for="noteContent"></label><textarea id="noteContent"
                                                           class="notes-display__textarea"
                                                           style="flex:1; resize: none;"
                                                           oninput="debounceSave()">
                    </textarea>
            </div>

        </div>
        <div style="display: flex; flex-direction: column; padding: 0.5rem 1rem; gap: 1rem; background-color: var(--color-background);">
            <h2 style="align-self: center">Login</h2>
            <form method="post" style="display: flex; flex-direction: column; gap: .75rem; align-items: center;">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button sidebar-button" type="submit">Login</button>
            </form>
        </div>

    </div>
    <style>
        .errorlist {
            max-width: 30ch;
            list-style-type: none;
            background-color: var(--color-background-light-contrast);
            padding: 0.5rem;
        }
    </style>
    <script>
        let debounceTimer = null;

        document.addEventListener("DOMContentLoaded", function () {
            loadDefaultNote();
        });


        function loadDefaultNote() {
            document.getElementById("noteContent").value = localStorage.getItem("localNote");
        }

        document.addEventListener("visibilitychange", function () {
            if (!document.hidden) {
                location.reload();
            }
        });

        function debounceSave() {
            if (debounceTimer) clearTimeout(debounceTimer);
            debounceTimer = setTimeout(saveNoteContent, 1000);
        }

        function saveNoteContent() {
            const content = document.getElementById("noteContent").value;
            localStorage.setItem("localNote", content);

        }

        let inactivityTimeout;

        function resetInactivityTimer() {
            clearTimeout(inactivityTimeout);
            inactivityTimeout = setTimeout(() => {
                location.reload();
            }, 60000);
        }

        ["mousemove", "keydown", "scroll", "click", "touchstart"].forEach(event => {
            document.addEventListener(event, resetInactivityTimer);
        });

        resetInactivityTimer();
    </script>
{% endblock %}
