:root {
  /* ================= */
  /* Global Colors */

  --link-color: #006699;
  --link-hover-color: #003366;

  --color-primary: #686868;
  --color-primary-darker: #525252;
  --color-primary-lighter: #8b8b8b;

  --color-secondary: #dddddd;
  --color-secondary-darker: #b6b6b6;
  --color-secondary-lighter: #f5f5f5;

  --color-text-primary: #333333;
  --color-text-secondary: #555555;
  --color-text-on-primary: #ffffff;

  --color-background: #f5f5f5;
  --color-background-light-contrast: #e6e6e6;

  --color-positive-darker: #8ccf76;
  --color-positive: #d7f5c8;

  --color-negative-darker: #cf7676;
  --color-negative: #f5c8c8;

  --color-warning: #f5e4c3;
  --color-warning-darker: #cf9a4c;

  --color-info: #c8d7f5;
  --color-info-darker: #7689cf;

  --color-help: #d7c8f5;
  --color-help-darker: #8f76cf;

  --color-main-text-area: #ffffff;
  --color-main-text: #000000;

  /* ================= */
  /* Global Properties */

  --max-container-width: 60vw;
  --border-radius-medium: 3px;
  --border-radius-large: 5px;

  /* ======================= */
  /* Screen size breakpoints */
  /* Do not work because CSS variables aren't supported in media queries. Need to wait till the spec update. */
  /* --screen-xs: 480px;
  --screen-sm: 768px;
  --screen-md: 1200px; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --link-color: #3399cc;
    --link-hover-color: #66aaff;

    --color-primary: #4e4e4e;
    --color-primary-darker: #3f3f3f;
    --color-primary-lighter: #777777;

    --color-secondary: #666666;
    --color-secondary-darker: #4b4b4b;
    --color-secondary-lighter: #7a7a7a;

    --color-text-primary: #dddddd;
    --color-text-secondary: #bbbbbb;
    --color-text-on-primary: #d3d3d3;

    --color-background: #313131;
    --color-background-light-contrast: #2a2a2a;

    --color-positive-darker: #669966;
    --color-positive: #336633;

    --color-negative-darker: #996666;
    --color-negative: #663333;

    --color-warning: #b38f4c;
    --color-warning-darker: #996c33;

    --color-info: #6699cc;
    --color-info-darker: #4477aa;

    --color-help: #595085;
    --color-help-darker: #3c3357;

    --color-main-text-area: #252525;
    --color-main-text: #ffffff;
  }
}
